.sidebarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: black;
  width: 25vw;
  transition: 800ms;
  padding: 20px 50px 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
}

.menu-btn {
  z-index: 200;
}

.logo-sidebar {
  max-width: 90%;
  margin: 20px auto;
}

.close-btn {
  fill: white;
  transition: 500ms;
  cursor: pointer;
  position: absolute;
  top: 37px;
  right: 19px;

  &:hover {
    fill: #ffc64f;
  }
}

.NavLink {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  transition: 500ms;
}

.NavLink--active {
  color: #ffc64f;
  text-decoration: underline;
}

.NavLink:hover {
  color: #ffc64f;
}

.router-list:not(:last-child) {
  margin-bottom: 19px;
}

.nav-links {
  margin-top: 42px;
}

.bottom-text {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin: 0;
}
