.homepage-wraper {
  background-color: #008c4c;
  background: url('./images/bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.icon-social {
  fill: rgb(255, 255, 255);
  transition: 500ms;

  &:hover {
    fill: #ffc64f;
  }
}

.nav-wrapper {
  display: flex;
  margin: auto;
  max-width: 945px;
}

.icons-wrapper {
  margin-left: auto;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.hero-wrapper {
  position: relative;
  margin: 170px auto 0 auto;
  width: 50%;
  @media screen and (max-width: 400px) {
    width: 90vw;
  }
  @media screen and (min-width: 1600px) {
    width: 30vw;
  }
}

.main-logo {
  width: 40vw;
  @media screen and (max-width: 400px) {
    width: 90vw;
  }
  @media screen and (min-width: 1600px) {
    width: 30vw;
  }
  margin: 0 auto;
}

.music-wrapper {
  position: absolute;
  top: -87px;
  left: -140px;
  background: #ffc64f;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  @media screen and (max-width: 400px) {
    top: -150px;
    left: 80px;
  }
}

.MusicNearTheSea {
  position: absolute;
  z-index: 1;
  left: 19px;
  top: 32px;
}

.date-wrapper {
  position: absolute;
  bottom: -87px;
  right: -140px;
  background: #ffffff;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
  color: #008c4c;
  text-transform: uppercase;
  transform: rotate(11deg);
  @media screen and (max-width: 400px) {
    display: none;
  }
}

.date-number {
  transform: scale(1.5, 1);
  -webkit-transform: scale(1.5, 1);
  font-size: 3rem;
  margin: 0;
}

.date-month {
  transform: scale(1.5, 1);
  -webkit-transform: scale(1.5, 1);
  margin: 0;
  font-size: 0.8rem;
}

.test {
  border: 1px solid rgb(255, 255, 255);
  padding: 16px 4%;
  text-transform: uppercase;
  text-align: center;
  margin: 130px auto 0 auto;
  border-radius: 10px;
  width: 19vw;
  color: #ffffff;
  font-weight: 800;
  font-size: 110%;
  transition: 700ms;
  display: block;

  &:hover {
    background-color: #ffffff52;
  }
  @media screen and (max-width: 666px) {
    width: 40vw;
  }
  @media screen and (max-width: 500px) {
    width: 80vw;
  }
}
