.homepage-wraper {
  background: center / cover no-repeat url('./images/bg.jpg'), #008c4c;
  width: 100vw;
  height: 100vh;
}

.icon-social {
  fill: rgb(255, 255, 255);
  transition: 500ms;

  &:hover {
    fill: #ffc64f;
  }
}

.nav-wrapper {
  display: flex;
  margin: auto;
  max-width: 945px;
}

.icons-wrapper {
  margin-left: auto;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.hero-wrapper {
  position: relative;
  margin: 170px auto 0 auto;
  width: 500px;
}

.music-wrapper {
  position: absolute;
  top: -87px;
  left: -140px;
  background: #ffc64f;
  width: 136px;
  height: 136px;
  border-radius: 50%;
}

.MusicNearTheSea {
  position: absolute;
  left: 19px;
  top: 32px;
}

.date-wrapper {
  position: absolute;
  bottom: -87px;
  right: -140px;
  background: #ffffff;
  width: 136px;
  height: 136px;
  border-radius: 50%;
}
