.big-cards-wrapper {
  display: grid;
  margin-top: 45px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.small-cards-wrapper {
  display: grid;
  margin-top: 45px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 30%;
  gap: 33px;

  & .artistName {
    font-size: 20px;
  }
}

.card-wrapper {
  position: relative;
}

.artistName {
  white-space: nowrap;
  position: absolute;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -13%;
  text-transform: uppercase;
  color: white;
}

.artist-photo {
  width: 100%;
  transform: rotate(-3deg);

  &:hover {
    transform: rotate(0deg);
  }
}

.artist-photo-secondary {
  width: 100%;
  transition: 500ms;
  &:hover {
    transform: scale(1.2);
  }
}

.artists-header {
  font-size: 40px;
  font-weight: 900;
  margin-top: 35px;
}

.icon-social:hover {
  fill: white;
}
