.contacts-wrapper {
  margin-top: 53px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts-link {
  color: #c4c4c4;
  display: block;
  line-height: 2;
  font-weight: 700;
}

.contacts-mini-header {
  margin: 5px 0;
}

.mail {
  margin-bottom: 35px;
}

.contacts-btn {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  transition: 500ms;
  background-color: #1f1f1f;
  width: 195px;
  border-radius: 150px;
  font-size: 10px;
  padding: 10px 32px;
  border: 1px solid white;
  margin-right: 10px;

  &:hover {
    background-color: #fff;
    color: #ffc64f;
  }
}

.contacts-btn-wrapper {
  margin: 20px 0;
}

.contacts-footer {
  display: grid;
  grid-template-columns: 30% 20%;
  margin-top: 91px;
}

.footer-left-wrapper .icons-wrapper {
  margin-top: 33px;
}

.footer-copyright {
  text-transform: uppercase;
  color: #525252;
  font-size: 10px;
  font-weight: 800;
  margin: 33px 0 0 0;
}

.contacts-nav-list-item {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  transition: 500ms;
  &:hover {
    color: #ffc64f;
  }
}

.contacts-nav-list:not(:last-child) {
  margin-bottom: 10px;
}

.policy {
  font-weight: 800;
  text-decoration: underline;
  color: #c4c4c4;
  font-size: 10px;
  display: block;
  margin: 39px 0 0 0;
  transition: 500ms;
  &:hover {
    color: #ffc64f;
  }
}
